*{
  --dark: hsla(159, 41%, 10%, 1);
  --primary-color: hsla(159, 36%, 57%, 1);
  --secondary-color: hsla(159, 65%, 88%, 1);
  --first-bg: hsla(0, 0%, 98%, 1);
  --second-bg:  hsla(0, 0%, 100%, 1);
  --light-grey: hsla(0, 0%, 89%, 1);
  --gray: #767676;

  margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 62.5%;
	vertical-align: baseline;
  list-style: none;
  text-decoration: none;

  /*font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;*/
}

header{
  box-sizing: content-box;
  border-bottom: 1px solid var(--light-grey);
  background: var(--first-bg);
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo-flex{
  display: flex;
}

.logo-none{
  display: none;
}

.nav-flex{
  position: absolute;
  width: 100%;
  height: 85vh;
  background: var(--first-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}

.nav-none{
  display: none;
}

#nav a{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;
  color: var(--dark);
}

#nav a:hover{
  color: var(--primary-color);
  border-bottom: var(--primary-color) solid 2px;
}

.showMenuImg{
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(./res/img/menu-Icon.svg);
}

.closeMenuImg{
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(./res/img/close-menu-icon.svg);
}

.logo-menuBtn{
  padding: 2rem 2.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.home{
  padding: 3.2rem 0rem 8rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3.2rem;

  background: var(--first-bg);
  border-bottom: 1px solid var(--light-grey);
}

.home-img, .aboutUs-img{
  width: 100%;
  flex: 1;
}

.home-txt{
  flex: 1;
  padding: 0rem 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: center;

  color: var(--dark);
}

.subtitle{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: center;

  color: var(--gray)
}

.home .subtitle{
  margin: 1.6rem 0 3.2rem;    
}

.btn-primary{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 3.2rem 1.5rem;
  cursor: pointer;


  background: var(--primary-color);
  border-radius: .4rem;

  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;

  text-align: center;

  color: #F9F9F9;
}

.btn-primary:hover{
  filter: brightness(1.1);
  transition: .5s;
}

.divider, .divider-invert{
  height: 1px;
  background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
}

.divider-invert{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.about-us{
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  background: var(--second-bg);
}

.aboutUs-txt{
  padding: 0 2.4rem;
}

.aboutUs-txt .subtitle, .aboutUs-txt .title, .services-txt .subtitle, .services-txt .title{
  text-align:start;
}

.services{
  padding: 8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
}

.services-txt .subtitle{
  font-family: 'DM Sans';
  color: var(--dark);
  margin-block-start: 1.6rem;
}

.beautysalon-span{
  font-family: inherit;
  font-size: inherit;
  color: var(--primary-color);
}

.services-box-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.services-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.8rem 3.2rem;
  
  background: var(--first-bg);
  border-bottom: 4px solid var(--primary-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid var(--primary-color);
}

.services-box img{
  width: 80px;
  height: 80px;
}

.services-box .title{
  margin: 2.4rem 0 1.2rem;
}

.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  overflow: hidden;
  padding: 0.6rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: unset;
}

.swiper-wrapper, .swiper-pagination{
  position: unset;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--primary-color,var(--swiper-theme-color));
}

.quote{
  font: 700 4.8rem serif;
  line-height: 0;
  color: var(--primary-color);
  position: relative;
  left: 0px;
  top: 15px;
}

.testimonials{
  padding: 8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  background: var(--second-bg);
}

.testimonial{
  padding: 3.2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.testimonial .subtitle:not(.client .subtitle){
  text-align: start;
  color: var(--dark);
  margin-inline: 3.2rem;
}

.client{
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-inline: 3.2rem;
}

.avatar{
  width: 32px;
  height: 32px;
  border-radius: 1000px;
}

.contact{
  padding: 8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  background: var(--first-bg);
}

.contacts-txt, .contacts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts{
  gap: 3.2rem;
}

.contacts .subtitle{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.contacts-txt .title, .contacts-txt .subtitle{
  text-align: start;
}

.contacts-txt .subtitle{
  margin: 1.6rem 0 3.2rem;
}

.contact .btn-primary img{
  margin-inline-end: 1rem;
}

footer{
  padding: 6.4rem 2.4rem;
  background: var(--primary-color);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer-txt p{
  color: var(--first-bg);
}

.footer-txt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subtitle-footer-margin{
  margin: 2.4rem 0 1.2rem;
}

.div-social-media{
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

@media screen and (min-width: 1024px){
  header{
    padding: .8rem 12.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-none{
    display: flex;
  }
  
  #showMenuImg{
    display: none;
  }

  .nav-flex, .nav-none{
    display: flex;
    position: unset;
    width: unset;
    height: unset;
    background: none;
    flex-direction: row;
    gap: 3.2rem;
  }

  #nav a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
  }

  .home{
    padding: 8.4rem 7.1rem 17.1rem 12.3rem;
    flex-direction: row;
  }

  .home-txt{
    align-items: flex-start;
  }

  .home-txt .title, .home-txt .subtitle{
    text-align: start;
  }

  .home-img, .aboutUs-img{
    width: 54%;
  }

  .about-us{
    padding: 16rem 12.1rem 16rem 0;
    flex-direction: row;
    align-items: center;
  }

  .services{
    align-items: center;
    padding: 16rem 12.3rem;
  }

  .services-txt{
    max-width: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-txt .subtitle{
    text-align: center;
  }

  .services-box-wrapper{
    flex-direction: row;
  }

  .contact{
    padding: 16rem 12.3rem;
    flex-direction: row;
    align-items: center;
    gap: 33.3rem;
  }

  .contacts-txt{
    width: 339px;
  }

  .testimonials{
    padding: 16rem 12.3rem;
  }

  footer{
    padding: 6rem 12.3rem;
    flex-direction: row;
    justify-content: space-between;
  }
}