*{
    /*reset*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;

    /*colors*/
    --prymary-color:#69B99D;
    --secondary-color:#CCF4E6;
    --gradient:linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
    --dark:#0F241D;
    --gray:#767676;
    --ligth-gray:#E4E4E4;
    --background-1:#F9F9F9;
    --background-2:#FFFFFF;

    font-size: 62.5%;
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'DM Sans', sans-serif;*/
}

header{
    padding-block: 2.3rem;
    padding-inline: 12.3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--background-1);
}

.menu{
    font-family: 'DM Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}

.menu a{
    color: var(--dark);
    margin-inline-start: 3.2rem;
}

.menu a:hover{
    color: var(--prymary-color);
    transition: 2ms;
}

.divider{
    height: 1px;
    width: 100vw;

    background-color: var(--ligth-gray);
}


#home{
    padding-block-start: 8.4rem;
    padding-block-end: 17.1rem;
    padding-inline: 12.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-1);
}

.main-txt{
    margin-inline-end: 7rem;
}

.title{
    color: var(--dark);

    font-family: 'Poppins', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
}

.descripition{
    color: var(--gray);

    font-family: 'DM Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}

.agendar{
    padding-block: 1.4rem;
    padding-inline: 2.4rem;
    margin-top: 3.2rem;

    background-color: var(--prymary-color);

    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--background-1);
}

.agendar:hover{
    opacity: 75%;
    transition: 5ms;
}

.sobre{
    padding-block: 16rem;
    padding-inline-end: 12.1rem;

    background-color: var(--background-2);

    display: flex;
    align-items: center;
}

.sobre-img{
    margin-inline-end: 6.4rem;
}

.sobre .descripition{
    font-size: 1.6rem;
}

footer{
    margin-block-start: 4rem;
    padding-block: 6rem;
    padding-inline: 12.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--prymary-color);
}

.business-info p{
    color: var(--background-1);

    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}